
<ng-container *ngIf="data && data.casts && data.casts.length > 0 ; else perSala">
    <h2>Casts</h2>
    <div class="d-flex w-100 gap-2 p-2 flex-wrap cast_item_wrap" >
    
        <ng-container *ngFor="let cast of data.casts">
            
            <div class="d-flex gap-1 flex-column cast_item">
    
                <ng-container *ngIf="cast.profile_path">
                    <img src="{{cast.profile_path}}" loading="lazy" width="80" [alt]="cast.name">
                </ng-container>
    
                <span>
    
                    {{cast.name + 'come: ' + cast.character }} 
    
                </span>
    
                <span>
                    Popular: {{cast.popularity}}
                </span>
                
            </div>
        </ng-container>
       
    
    
    </div>

</ng-container>

<ng-template #perSala >

    <ng-container *ngIf="data.sala">

        <div class="d-flex align-items-center justify-content-between p-5 w-100">
            <div class="d-flex flex-column p-5" style="border:1px solid black;">
    
                <div class="d-flex">
                    {{'Sala: ' + (data.sala.numero ? data.sala.numero : 'EXTRA 3D')   }}
    
                </div>
    
                <ng-container *ngIf="data.sala.imax">
                    <div class="d-flex">
                        {{'Sala Imax: ' + data.sala.imax   }}
                    </div>
                </ng-container>

                <div class="d-flex">

                    {{'Data : ' + data.date   }}

                </div>

                <div class="d-flex" *ngIf="data.operator">

                    <button mat-raised-button color="primary" >
                        Programmazione corrente
                    </button>

                </div>
            </div>

            <div  class="d-flex align-items-center" *ngIf="!data.operator" >
                <button mat-raised-button color="primary">
                    Get Ticket!
                </button>
            </div>
        </div>

    
    </ng-container>



</ng-template>

<mat-dialog-actions align="end">
    <button color="warn" mat-raised-button mat-dialog-close>Chiudere</button>
</mat-dialog-actions>
